<section class="container mx-auto p-2 md:p-8">

  <div class="flex justify-between mb-2">
    <h2 class="text-sm md:text-2xl font-bold mb-4">All Products ({{ articulos.length }})</h2>
    <button class="filtro" (click)="aside = !aside">
      Filter & Sort
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="inline">
        <rect x="2" y="4" width="4" height="4" rx="1" fill="#fff" />
        <line x1="6" y1="6" x2="20" y2="6" />
        
        <line x1="4" y1="14" x2="18" y2="14" />
        <rect x="20" y="12" width="4" height="4" rx="1" fill="#fff" />
      </svg>
    </button>
  </div>

@if (aside) {
  <aside class="fixed top-10 right-0 w-64 h-screen bg-white shadow-md p-4 z-10">
    <div class="flex text-lg font-bold mb-4 justify-between">
      <h2>Filter & Sort</h2>
      <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      (click)="aside = !aside">
        <path d="M18 6L6 18M6 6L18 18" />
      </svg>
    </div>

    <app-filtros></app-filtros>

  </aside>

}
  
  <div class="grid grid-cols-2 md:grid-cols-4 gap-1">
    @for (articulo of articulos; track articulo.id) {
      @if (articulo.Image != '') {
      <article class="articulo" (mouseover)="imagen_hover[articulo.id] = true" (mouseout)="imagen_hover[articulo.id] = false">
        <div class="w-full max-h-72 rounded-t relative">
            @defer () {
              <img (click)="navegar(articulo.id)" [src]="url[articulo.id]" (mouseover)="url[articulo.id] = articulo.Image1" (mouseout)="url[articulo.id] = articulo.Image" alt="Article image" class="object-cover h-full w-full bg-gray-200" />
            } @placeholder {
              <div class="w-full h-full bg-gray-200"></div>
            }
            @if (!imagen_hover[articulo.id]) {
              <span class="absolute bottom-0 left-0 p-1 text-black bg-white text-sm ml-2"> {{ articulo.Price }} </span>
            }
            @else {
              <span class="absolute bottom-0 left-0 p-1 text-black bg-white text-sm ml-2 mb-2"> {{ articulo.Price }} </span>
            }
            <!-- corazón -->
            <svg class="w-3 h-3 absolute top-4 right-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.75 3 16.25 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            </svg>
        </div>

        @if (imagen_hover[articulo.id]) {
          <div class="h-12 w-full flex">
            @for (color of articulo.Color_detail; track $index) {
              <img [src]="color.image_url" [alt]="color.color" class="object-cover h-full w-16"/>
            }
          </div>
        }

        <h3 class="text-sm mb-2 mt-2">
          {{ articulo.Name }}
        </h3>

        <p class="text-xs text-gray-400">
          {{ articulo.Colors }}
        </p>

      </article>
      }
    }
    
  </div>
</section>
