<ul class="list-none mb-4 cursor-pointer">

  <li class="text-black p-4 font-bold" (click)="category_emitter.emit('all')">CLEAR ALL</li>

  <div class="bg-gray-200 h-px w-full"></div>

  <li class="">
    <div class="flex justify-between p-4 text-black font-bold" (click)="price = !price">
      <p>PRICE</p>
      @if (!price) {
        <i class="fas fa-arrow-down"></i>
      } @else {
        <i class="fas fa-arrow-up"></i>
      }
    </div>

    @if (price) {
    <ul class="list-none pl-4 mb-4">
      <li class="text-gray-600 hover:text-gray-900 p-2" (click)="price_emitter_sort.emit('mayor')">Higher price</li>
      <li class="text-gray-600 hover:text-gray-900 p-2" (click)="price_emitter_sort.emit('menor')">Lower price</li>
      <div class="flex flex-wrap my-4">
        <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="price-min">
            Min
          </label>
          <input class="price_in" id="price-min" type="number" min="0" step="0.01" [(ngModel)] = "min_price" (input)="price_emitter.emit([min_price, max_price])" />
        </div>

        <div class="w-full md:w-1/2 px-3">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="price-max">
            Max
          </label>
          <input class="price_in" id="price-max" type="number" min="0" step="0.01" [(ngModel)] = "max_price" (input)="price_emitter.emit([min_price, max_price])" />
        </div>
      </div>
    </ul>
    }
  </li>

  <div class="bg-gray-200 h-px w-full"></div>

  <li class="">
    <div class="flex justify-between text-black font-bold p-4" (click)="category = !category">
        <a>CATEGORY</a>
        @if (!category) {
          <i class="fas fa-arrow-down"></i>
        } @else {
          <i class="fas fa-arrow-up"></i>
        }
    </div>

    @if (category) {
        <ul class="list-none pl-4 mb-4">
          <li class="text-gray-600 hover:text-gray-900 p-2" (click)="category_emitter.emit('Women\'s Originals')">Women's Originals</li>
          <li class="text-gray-600 hover:text-gray-900 p-2" (click)="category_emitter.emit('Men\'s Originals')">Men's Originals</li>
          <li class="text-gray-600 hover:text-gray-900 p-2" (click)="category_emitter.emit('Infant & Toddler Originals')">Infant & Toddler Originals</li>
          <li class="text-gray-600 hover:text-gray-900 p-2" (click)="category_emitter.emit('Originals')">Originals</li>
          <li class="text-gray-600 hover:text-gray-900 p-2" (click)="category_emitter.emit('Youth Originals')">Youth Originals</li>
        </ul>
    }
  </li>

  <div class="bg-gray-200 h-px w-full"></div>

  <li class="">
    <div class="flex justify-between text-black font-bold p-4" (click)="promo = !promo">
        <a>PROMO</a>
        @if (!promo) {
          <i class="fas fa-arrow-down"></i>
        } @else {
          <i class="fas fa-arrow-up"></i>
        }
    </div>

    @if (promo) {
        <ul class="list-none pl-4 mb-4">
            <li class="p-2"><a class="text-gray-600 hover:text-gray-900 text-sm" (click)="promo_emitter.emit('Save 30% when you buy any two eligible shoe and clothing items with code REFRESH.')">save 30% with code REFRESH</a></li>
            <li class="p-2"><a class="text-gray-600 hover:text-gray-900" (click)="promo_emitter.emit('none')">None</a></li>
        </ul>
    }
  </li>

  <div class="bg-gray-200 h-px w-full"></div>

  <li class="">
    <div class="flex justify-between text-black font-bold p-4" (click)="reviews = !reviews">
        <a>REVIEWS</a>
        @if (!reviews) {
          <i class="fas fa-arrow-down"></i>
        } @else {
          <i class="fas fa-arrow-up"></i>
        }
    </div>

    @if (reviews) {
        <ul class="list-none pl-4 mb-4">

            <li class="p-2 text-gray-600 hover:text-gray-900" (click)="reviews_emitter_sort.emit('top')">Top Rating</li>
            <li class="p-2 text-gray-600 hover:text-gray-900" (click)="reviews_emitter_sort.emit('worse')">Worse Rating</li>
            
            <div class="flex flex-wrap my-4">
              <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reviews-min">
                  Min
                </label>
                <input class="price_in" id="reviews-min" type="number" min="0" step="0.01" [(ngModel)] = "min_stars" (input)="reviews_emitter.emit([min_stars, max_stars])" />
              </div>
      
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reviews-max">
                  Max
                </label>
                <input class="price_in" id="reviews-max" type="number" min="0" step="0.01" [(ngModel)] = "max_stars" (input)="reviews_emitter.emit([min_stars, max_stars])" />
              </div>
            </div>
            
        </ul>
    }
  </li>

</ul>
