<!-- Contenedor principal -->
<div class="md:flex">

  <div class="md:hidden mx-5">
    
      <div class="flex justify-between">
          <p class="text-lg mb-4">{{ article.Category }}</p>
          <div>
            @for (star of stars; track $index) {
              {{ star }}
            }
          </div>
      </div>
      <h1 class="text-3xl font-bold mb-2">{{ article.Name }}</h1>
      <b class="text-lg mb-4 block">{{ article.Price }} </b>
      
  </div>

  <!-- imagenes -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 w-full md:w-2/3">
      @defer {
      <img [src]="image" alt="Imagen del producto" class="w-full object-fill" />
      <img [src]="image1" alt="Imagen del producto" class="w-full object-fill hidden md:block" />
      <img [src]="image" alt="Imagen del producto" class="w-full object-fill hidden md:block" />
      <img [src]="image1" alt="Imagen del producto" class="w-full object-fill hidden md:block" />
      } @placeholder {
      <p class="inline">...</p>
      } @loading {
      <p class="inline">Cargando...</p>
      }
  </div>

  <div class="flex flex-wrap w-1/3 p-8 hidden md:block">

      <div class="w-full">

          <div class="flex justify-between mb-4">
              <p class="text-lg">{{ article.Category }}</p>
              <div class="flex justify-center">
                @for (star of stars; track $index) {
                  {{ star }}
                }
              </div>
          </div>

          <h1 class="text-3xl font-bold mb-2">{{ article.Name }}</h1>
          <b class="text-lg mb-4 block">{{ article.Price }} </b>
          <b class="text-lg mb-4">Colors</b>
          <ul class="list-none mb-4 flex">

              <li class="mr-2 w-20">
                  <img [src]="color1" alt="imagen1" />
                  <p class="text-xs text-gray-700">
                    {{ article.Color_detail[0].color }}
                  </p>
              </li>
              <li class="w-20">
                  <img [src]="color2" alt="imagen2" />
                  <p class="text-xs text-gray-700">
                    {{ article.Color_detail[1].color }}
                  </p>
              </li>

          </ul>

      </div>
      <!-- Acciones del producto -->
      <div class="w-full">

        <div class="flex justify-center mb-4 w-full">

          <button class="bg-black hover:text-gray-400 text-white font-bold py-2 px-4 flex-1 flex justify-between">
              ADD TO BAG
              <svg class="inline" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 4L20 12L12 20" />
              </svg>
          </button>
          <!-- corazon -->
          <button class="border py-2 pr-4 ml-2">
              <svg class="w-6 h-6 text-black ml-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.75 3 16.25 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
              </svg>
          </button>
        </div>
      </div>
  </div>

</div>

<div class="bg-gray-200 h-px w-full"></div>
<section class="flex flex-col items-start m-4 px-4 w-3/4">

  <div class="text-lg font-bold my-4 flex justify-between w-3/4 cursor-pointer" (click)="toggleReviews()">
    <p>Reviews ({{article.Reviews.votes}})</p>
    <div>
      <p class="text-black-600 text-md inline"> {{article.Reviews.rating}} </p>
      @for (star of stars; track $index) {
        <div class="text-green-400 inline">{{star}}</div>
      }
      <svg viewBox="0 0 24 24" width="24" height="24" class="text-xl inline ml-4">
        <path d="M7 10L12 15L17 10Z" fill="#666" />
      </svg>
    </div>
  </div>
  @if (reviews) {
    <div class="flex justify-between items-start font-bold w-3/4">
      <div>
        <p class="text-black-600 text-4xl inline"> {{article.Reviews.rating}} </p>
        @for (star of stars; track $index) {
          <div class="text-green-400 inline">{{star}}</div>
        }
      </div>
      <button class="text-black bg-white px-4 py-2 border border-black hover:text-gray-600">
        WRITE A REVIEW
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="inline">
          <path d="M9 18L15 12L9 6" />
        </svg>
      </button>
    </div>
  }

  <div class="text-lg font-bold my-4 flex justify-between w-3/4 cursor-pointer" (click)="toggleDescription()">
    <p>Description</p>
    <svg viewBox="0 0 24 24" width="24" height="24" class="text-xl inline ml-4">
      <path d="M7 10L12 15L17 10Z" fill="#666" />
    </svg>
  </div>
  @if (description) {
    <div class="flex">
      <div class="pr-8">
        <h1 class="font-bold text-2xl"> {{article.Description_title}} </h1>
        <p class="text-md text-gray-800"> {{article.Description_content}} </p>
      </div>
      
      <div class="w-full h-full">
        <img [src]="article.Image" alt="Imagen" class="object-fill">
      </div>
    </div>
  }

  <div class="text-lg font-bold my-4 flex justify-between w-3/4 cursor-pointer" (click)="toggleDetails()">
    <p>Details</p>
    <svg viewBox="0 0 24 24" width="24" height="24" class="text-xl inline ml-4">
      <path d="M7 10L12 15L17 10Z" fill="#666" />
    </svg>
  </div>
  @if (details) {
    <ul class="grid grid-cols-2 gap-4">
      @for (item of article.Details.split('\n'); track $index) {
        <li class="mr-10 list-disc"> {{item}} </li>
      }
    </ul>
  }

  <div class="text-lg font-bold my-4 flex justify-between w-3/4 cursor-pointer" (click)="toggleCare()">
    <p>Care</p>
    <svg viewBox="0 0 24 24" width="24" height="24" class="text-xl inline ml-4">
      <path d="M7 10L12 15L17 10Z" fill="#666" />
    </svg>
  </div>
  @if (care) {
    <h1 class="font-bold"> {{ article.Care.title }} </h1>
    <ul class="grid grid-cols-3 gap-4">
      @for (item of article.Care.content; track $index) {
        <li class="mr-10 list-disc"> {{item}} </li>
      }
    </ul>
  }

</section>
